.statistics{
display: flex;
flex-direction: column;
width: 350px;
height: 100px;
margin: 0 auto;
margin-top: 50px;
background-color: bisque;
}

.title{
height: 40px;
background-color: aqua;
color: #ffff;
}

.stat_list{
display: flex;
flex-direction: row;
justify-content: space-evenly;
 
}

.item{
    font-size: large;

}

.label{
    font-size: large;

}

.percentage{
    font-size: large;

}